.skills {
    &_content-wrapper {
        display: flex;
        padding: 20px;
        gap: 20px;

        &_inner-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;

            &_category-text {
                display: block;
                color: var(--blue-theme-sub-text-color);
                font-size: 22px;
                font-weight: 700;
                line-height: 1rem;
                letter-spacing: 0.5px;
                position: relative;
                text-transform: uppercase;
                padding: 4px 4px 4px 0px;;
                border-bottom: 2px solid var(--blue-theme-main-color);
                display: flex;
                align-items: baseline;
                gap: 7px;
            }

            &_category-text::before,
            &_category-text::after {
                position: relative;
                content: "";
                width: 2px;
                height: 5px;
            }

            &_category-text::before {
                left: 0;
            }

            &_category-text::after {
                right: 0;
            }

            &_progressbar-container {
                width: 100%;
            }

            .progressbar-wrapper {
                padding: 50px 0px 0px 0px;

                p {
                    color: var(--blue-theme-sub-text-color);
                    font-size: 1.6rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin: 0 0 10px;
                }
            }

            .percentage-text {
                font-size: 14px;
                font-weight: 600;
                color: var(--blue-theme-main-color);
                display: flex;
                justify-content: end;
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .skills {
        &_content-wrapper {
            flex-direction: column;
        }

        .skills_content-wrapper_inner-content_progressbar-container {
            margin-bottom: 20px;
        }

        .progressbar-wrapper {
            padding: 42px 0px 0px 0px;
        }
    }
}