.project {
    &_content {
        padding: 10px;
        width: 100%;

        &_infoWrapper {
            h2 {
                font-size: 2.5rem;
                font-weight: 700;
                margin-bottom: 10px;
                color: var(--blue-theme-main-color);
            }

            p {
                color: var(--blue-theme-sub-text-color);
                font-size: 1.8rem;
                line-height: 1.65;
                padding-bottom: 20px;
                // border-bottom: 1px dashed var(--blue-theme-main-color);
            }

            &_keypoints{
                color: var(--blue-theme-sub-text-color);
                font-size: 13px;
                margin-bottom: 3px;
                display: flex;
                gap: 3px;

                span{
                    border: 2px solid var(--blue-theme-main-color);
                    padding: 3px;
                    border-radius: 3px;
                }
            }

            &_codelink a{
                color: var(--blue-theme-main-color);
                cursor: pointer;
                display: flex;
                justify-content: end;
                font-size: 18px;
            }
        }
    }
}