.home {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &_text-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;

        h1 {
            color: var(--blue-theme-background-color);
            margin: 0px;
            font-weight: 500;
            font-size: 8rem;
            line-height: 10rem;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            animation: typingEffectAnimation 2.5s steps(30, end);
        }
    }

    &_contact-me {
        display: flex;
        justify-content: center;

        button {
            cursor: pointer;
            padding: 10px 60px;
            background: transparent;
            border: 2px solid var(--blue-theme-background-color);
            font-size: 2rem;
            border-radius: 10px;
            font-weight: 400;
            color: var(--blue-theme-background-color);

            &:hover{
                background: var(--blue-theme-main-color);
            }
        }
    }
}

@media only screen and (max-width:550px) {
    .home_text-wrapper h1 {
        font-size: 3rem;
        line-height: 5rem;
    }
}

@media only screen and (min-width:551px) and (max-width:768px) {
    .home_text-wrapper h1 {
        font-size: 4rem;
        line-height: 6rem;
    }
}

@media only screen and (min-width:768px) and (max-width:990px) {
    .home_text-wrapper h1 {
        font-size: 6rem;
        line-height: 8rem;
    }
}

@keyframes typingEffectAnimation {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}