.resume {
    height: 100%;
}

.timeline {
    display: flex;
    width: 100%;
    padding: 20px;

    &_experience,
    &_education {
        width: 50%;
        gap: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &_header-text {
            display: block;
            color: var(--blue-theme-sub-text-color);
            font-size: 22px;
            font-weight: 700;
            line-height: 1rem;
            letter-spacing: 0.5px;
            position: relative;
            text-transform: uppercase;
            padding: 4px 4px 4px 0px;
            border-bottom: 2px solid var(--blue-theme-main-color);
            display: flex;
            align-items: baseline;
            gap: 7px;
        }

        &_header-text::before,
        &_header-text::after {
            position: relative;
            content: "";
            width: 2px;
            height: 5px;
        }

        &_header-text::before {
            left: 0;
        }

        &_header-text::after {
            right: 0;
        }

        &_vertical-timeline-element {
            padding: 0px 0px 30px 0px;

            &:last-child {
                padding-bottom: 0px;
            }
        }

        .Vertical-timeline-element-title-warpper {
            display: block;
            align-items: center;
            div:nth-child(1) {
                font-size: 18px;
                margin-bottom: 5px;
            }
            div:nth-child(2) {
                font-size: 14px;
            }
        }

        .Vertical-timeline-element-title-warpper-description {
            font-size: 16px;
        }

        .vertical-timeline-element-date {
            opacity: 1;
            color: var(--blue-theme-sub-text-color);
            font-size: 16px;
        }
    }
}

@media only screen and (max-width:768px) {
    .timeline {
        flex-direction: column;

        &_experience,
        &_education {
            width: 100%;
            gap: 2rem;
        }
    }
}